@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>University of Johannesburg</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to University Of Johannesburg</h2>
        <p>
            The University of Johannesburg is a public university located in Johannesburg,
            South Africa.
            The University of Johannesburg came into existence on 1 January 2005 as the result of a merger between the Rand Afrikaans University,
            the Technikon Witwatersrand and the Soweto and East Rand campuses of Vista University. .
        </p>
    </div>
   
</div>